body.welcome-page {
    background: inherit;
    overflow: auto;
}


// .welcome {
//     position: relative;
//     font-family: $baseFontFamily;
//     color: $cod-gray;
//     margin: 0;
//     font-size: 16px;
//     line-height: 1.5;
//     height: 100vh;
//     background-image: url("../images/background.png");
//     background-repeat: no-repeat;
//     background-size: 50% 100%;

//     .header {
//         background-image: $welcomePageHeaderBackground;
//         background-position: $welcomePageHeaderBackgroundPosition;
//         background-repeat: $welcomePageHeaderBackgroundRepeat;
//         background-size: $welcomePageHeaderBackgroundSize;
//         padding-bottom: $welcomePageHeaderPaddingBottom;
//         background-color: #131519;
//         overflow: hidden;
//         position: relative;

//         .header-container {
//             display: $welcomePageHeaderContainerDisplay;
//             flex-direction: column;
//             margin: $welcomePageHeaderContainerMargin;
//             z-index: $zindex2;
//             align-items: center;
//             position: relative;
//             max-width: 688px;
//         }

//         .header-watermark-container {
//             position: absolute;
//             width: 100%;
//             height: 100%;
//             margin-top: calc(20px - #{$welcomePageHeaderContainerMarginTop});
//         }

//         .header-text-title {
//             color: $welcomePageTitleColor;
//             font-size: $welcomePageHeaderTextTitleFontSize;
//             font-weight: $welcomePageHeaderTextTitleFontWeight;
//             line-height: $welcomePageHeaderTextTitleLineHeight;
//             margin-bottom: $welcomePageHeaderTextTitleMarginBottom;
//             max-width: $welcomePageHeaderTitleMaxWidth;
//             opacity: $welcomePageHeaderTextTitleOpacity;
//             text-align: $welcomePageHeaderTextAlign;
//         }

//         .header-text-subtitle {
//             color: #fff;
//             font-size: 20px;
//             font-weight: 600;
//             line-height: 26px;
//             margin: 16px 0 32px 0;
//             text-align: $welcomePageHeaderTextAlign;

//         }

//         .insecure-room-name-warning {
//             align-items: center;
//             color: rgb(215, 121, 118);
//             font-weight: 600;
//             display: flex;
//             flex-direction: row;
//             margin-top: 15px;
//             max-width: 480px;
//             width: $welcomePageEnterRoomWidth;

//             .jitsi-icon {
//                 margin-right: 15px;

//                 svg {
//                     fill: rgb(215, 121, 118);

//                     &>*:first-child {
//                         fill: none !important;
//                     }
//                 }
//             }
//         }

//         ::placeholder {
//             color: #253858;
//         }

//         #enter_room {
//             display: $welcomePageEnterRoomDisplay;
//             align-items: center;
//             max-width: 480px;
//         }
//     }
// }

@media (max-width: 767px) {
    // Add your mobile-specific styles here
    // For example:
    // .welcome {
    //     display: block;
    // }
}

//             width: $welcomePageEnterRoomWidth;
//             z-index: $zindex2;
//             height: fit-content;

//             .join-meeting-container {
//                 margin: $welcomePageEnterRoomMargin;
//                 padding: $welcomePageEnterRoomPadding;
//                 border-radius: 4px;
//                 background-color: #fff;
//                 display: flex;
//                 width: 100%;
//                 text-align: left;
//                 color: #253858;
//             }

//             .enter-room-input-container {
//                 flex-grow: 1;
//                 padding-right: 4px;

//                 .enter-room-input {
//                     border-radius: 4px;
//                     border: 0;
//                     background: #fff;
//                     display: inline-block;
//                     height: 50px;
//                     width: 100%;
//                     font-size: 14px;
//                     padding-left: 10px;

//                     &.focus-visible {
//                         outline: auto 2px #005fcc;
//                     }
//                 }
//             }

//         }

//         #moderated-meetings {
//             max-width: calc(100% - 40px);
//             padding: 16px 0 0;
//             width: $welcomePageEnterRoomWidth;
//             text-align: center;

//             a {
//                 color: inherit;
//                 font-weight: 600;
//             }
//         }
//     }

//     .tab-container {
//         font-size: 16px;
//         position: relative;
//         text-align: left;
//         display: $welcomePageTabContainerDisplay;
//         flex-direction: column;

//         .tab-content {
//             display: $welcomePageTabContentDisplay;
//             height: 250px;
//             margin: 5px 0px;
//             overflow: hidden;
//             flex-grow: 1;
//             position: relative;
//         }

//         .tab-buttons {
//             background-color: #c7ddff;
//             border-radius: 6px;
//             color: #0163FF;
//             font-size: 14px;
//             line-height: 18px;
//             margin: 4px;
//             display: $welcomePageTabButtonsDisplay;

//             [role="tab"] {
//                 background-color: #c7ddff;
//                 border-radius: 7px;
//                 cursor: pointer;
//                 display: $welcomePageTabDisplay;
//                 flex-grow: 1;
//                 margin: 2px;
//                 padding: 7px 0;
//                 text-align: center;
//                 color: inherit;
//                 border: 0;

//                 &[aria-selected="true"] {
//                     background-color: #FFF;
//                 }
//             }

//         }
//     }

//     .welcome-page-button {
//         border: 0;
//         font-size: 14px;
//         background: #0074E0;
//         border-radius: 3px;
//         color: #FFFFFF;
//         cursor: pointer;
//         padding: 16px 20px;

//         &:focus-within {
//             outline: auto 2px #022e61;
//         }
//     }

//     .welcome-page-settings {
//         background: rgba(255, 255, 255, 0.38);
//         border-radius: 3px;
//         color: $welcomePageDescriptionColor;
//         padding: 4px;
//         position: absolute;
//         top: calc(35px - #{$welcomePageHeaderContainerMarginTop});
//         right: 0;
//         z-index: $zindex2;

//         * {
//             cursor: pointer;
//             font-size: 32px;
//         }

//         .toolbox-icon {
//             height: 24px;
//             width: 24px;
//         }
//     }

//     .welcome-watermark {
//         position: absolute;
//         width: 100%;
//         height: 100%;

//         .watermark.leftwatermark {
//             width: $welcomePageWatermarkWidth;
//             height: $welcomePageWatermarkHeight;
//         }

//         .watermark.leftwatermarknomargin {
//             width: $welcomePageWatermarkWidth;
//             height: $welcomePageWatermarkHeight;
//         }
//     }

//     &.without-content {
//         .welcome-card {
//             min-width: 500px;
//             max-width: 580px;
//         }
//     }

//     &.without-footer {
//         justify-content: start;
//     }

//     .welcome-cards-container {
//         color: #131519;
//         // padding-top: 40px;
//     }

//     .welcome-card-column {
//         display: flex;
//         justify-content: center;
//         flex-direction: column;
//         align-items: center;
//         max-width: 688px;
//         margin: auto;

//         >div {
//             margin-bottom: 16px;
//             background: $white;
//         }
//     }

//     .welcome-card-text {
//         padding: 32px;
//     }

//     .welcome-card {
//         width: 100%;
//         border-radius: 8px;

//         &--dark {
//             background: #444447;
//             color: #fff;
//         }

//         &--blue {
//             background: #D5E5FF;
//         }

//         &--grey {
//             background: #F2F3F4;
//         }
//     }

//     .welcome-footer {
//         background: #131519;
//         color: #fff;
//         position: relative;
//     }

//     .welcome-footer-centered {
//         max-width: 688px;
//         margin: 0 auto;
//     }

//     .welcome-footer-padded {
//         padding: 16px 16px;
//     }

//     .welcome-footer--congly {
//         margin: 16px auto;
//         display: flex;
//         flex-direction: column;
//         flex-wrap: nowrap;
//         gap: 3px;
//         align-items: center;
//         justify-content: center;
//         text-align: center;
//     }

//     .welcome-footer-row-block {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         border-bottom: 1px solid #424447;

//         &:last-child {
//             border-bottom: none;
//         }
//     }

//     .welcome-footer--row-1 {
//         padding: 40px 0 24px 0;
//     }

//     .welcome-footer-row-1-text {
//         max-width: 200px;
//         margin-right: 16px;
//     }
// }

.welcome {
    display: flex;
    position: relative;

    .banner {
        width: 50%;
        // position: relative;
        font-family: $baseFontFamily;
        color: $cod-gray;
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
        height: 100vh;
        background-image: url("../images/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        // background-size: 50% 100%;
    }

    .action-wrapper {
        width: 50%;
        padding: 16px;

        #enter_room {
            display: $welcomePageEnterRoomDisplay;
            align-items: center;
            // max-width: 480px;
            width: 100%;
            z-index: $zindex2;
            height: fit-content;

            .join-meeting-container {
                margin: $welcomePageEnterRoomMargin;
                padding: 12px 0;
                border-radius: 4px;
                background-color: #fff;
                display: flex;
                width: 100%;
                text-align: left;
                color: #253858;
            }

            .enter-room-input-container {
                flex-grow: 1;

                .enter-room-input {
                    border-radius: 8px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border: 1px solid #DBDBDB;
                    background: #fff;
                    display: inline-block;
                    height: 50px;
                    width: 100%;
                    font-size: 14px;
                    padding-left: 10px;
                    // outline: auto 2px #c4c4c4;

                    &.focus-visible {
                        border: 1px solid #005fcc;
                        // outline: auto 2px #005fcc;
                    }
                }
            }
        }

        .welcome-page-button {
            border: 0;
            font-size: 14px;
            background: #CC0000;
            border-radius: 8px;
            color: #FFFFFF;
            cursor: pointer;
            padding: 16px 20px;
            margin-left: -6px;

            &:focus-within {
                outline: auto 2px #CC0000;
            }
        }

        .tab-container {
            font-size: 16px;
            position: relative;
            text-align: left;
            display: $welcomePageTabContainerDisplay;
            flex-direction: column;

            .tab-content {
                display: $welcomePageTabContentDisplay;
                height: 250px;
                margin: 5px 0px;
                overflow: hidden;
                flex-grow: 1;
                position: relative;
            }

            .tab-buttons {
                background-color: #c7ddff;
                border-radius: 6px;
                color: #0163FF;
                font-size: 14px;
                line-height: 18px;
                margin: 4px;
                display: $welcomePageTabButtonsDisplay;

                [role="tab"] {
                    background-color: #c7ddff;
                    border-radius: 7px;
                    cursor: pointer;
                    display: $welcomePageTabDisplay;
                    flex-grow: 1;
                    margin: 2px;
                    padding: 7px 0;
                    text-align: center;
                    color: inherit;
                    border: 0;

                    &[aria-selected="true"] {
                        background-color: #FFF;
                    }
                }

            }
        }

        .welcome-cards-container {
            gap: 12px;
            padding: 12px;
            border: 1px solid #dbdbdb;
            border-radius: 8px;
        }

        .powered-by {
            color: #c4c4c4;
            margin-top: 16px;
            padding-bottom: 16px;

            .d-mobile {
                display: none;
                .red-logo {

                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-900) {
        flex-direction: column;

        .banner {
            width: 100%;
            padding: 8px 0;
            height: auto;

            .footer {
                display: none;
            }
        }

        .action-wrapper {
            width: fit-content;
            min-height: calc(100vh - 132px);

            >div:nth-child(1) {
                padding: 16px;
            }

            .welcome-page-button {
                width: unset !important;
                padding: 16px 12px;
            }

            .powered-by {
                width: 100%;
                padding-left: 32px;

                .d-mobile {
                    .highlight {
                        margin-top: 4px;
                        font-weight: 700;
                    }
                    .red-logo {
                        display: block;
                        margin-left: -4px;
                    }

                    display: block;
                }
            }
        }
    }

    .content {
        &__title {
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
            /* 125% */
            letter-spacing: 0.96px;
        }

        &__mobile-setting {
            margin-top: 32px;
        }

        &__settings {
            display: none;
        }

        &__description {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            /* 140% */
            margin-top: 32px;
        }

        &__guideline {
            font-size: 16px;
        }

        &__button {
            height: 100%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &__field {
            .MuiInputBase-root {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }

        @media screen and (max-width: $breakpoint-900) {
            &__container {
                max-width: $container-width;
                padding: 0 16px;
                margin: 0 auto;

                width: 90%;
            }

            &__description {
                margin-top: 20px;
            }

            &__mobile-setting {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
            }

            &__settings {
                display: block;
                color: #cc0000;
            }
        }
    }
}